/* definições de fontes */
@font-face{
   font-family: "unbounded";
   src: url("../fontes/Unbounded-Bold.ttf");
}

/* resete*/
*{
   margin: 0;
   padding: 0;
}

 /* estilo descktop*/
body

    {background-color: black;  color: #ffffff;
      }

      h1 span{
   color:#9747FF ;
   }

h1{
   font-size:64px;
   font-family:"unbounded";

   margin-top: 60px;
   text-align: center;
   
}
p{
   font-size: 24px;
font-family: "poppins",sans-serif;
font-weight: normal;
margin:24px auto 0;
text-align: center;
width:792px ;
}

a{
   font-size: 32px;
   color: #ffffff;
   text-decoration: none;
   background-color: #9747FF;
   width: 340px;
   height: 66px;
   display: block;
   text-align: center;
   line-height: 66px;
   border-radius: 36px;
   margin: 40px auto;
}

a:hover{
   background-color: #8233e8;
}

.imagem-celular{
   display: block;
   margin-top: 40px;
   margin: 40px auto;
}
.logo-da-pagina{
   display: block;
   margin: 75px 0 0 360px;}

   @media(max-width:768px){
      .logo-da-pagina{
         margin:65px 0 0 60px;
      }
      p{
         width:648px;
      }
      
   }
   @media(max-width:375px){
      .logo-da-pagina{
         margin:32px 0 0 16px}
         h1 {
            font-size: 40px;
         }
    p{font-size: 20px;
   width: 340px;}
   .imagem-celular{
      width: 341px;
      height: 230px;
}
a{
   font-size: 20px;
   width: 251px;
}
   }